*.sqlite*
/dist
/node_modules
/database/database.sqlite
/public/hot
/public/storage
/public/img
/public/flags
/public/webfonts
/public/scss
/public/assets
/public/svg
/public/icons
/public/vendors
/public/public
/public/js/app.js
/public/js/front.js
public/js/app.js
/public/vendor
/storage/logs
/storage/event_log
/storage
/vendor
/bootstrap/cache/*
!/bootstrap/cache/index.php
/vendor/composer/*
/vendor/composer/*
/public/vendor/*
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
composer.phar
composer.lock
sftp-config.json
package-lock.json
default.conf

# JetBrains IDE
.idea/

public/uploads/
/public/vendor/
#/public/js/app.js
/public/js/media.js
/public/js/media-cropp.js
/public/js/menu-create.js
/public/js/menu-edit.js


/public/admin/
/public/admin/img
storage/event_log/*
/storage/event_log/*
/public/tinymce/vendor/*
